/* Basic elements */
body {
    background-color:var(--background-color);
    padding: 1rem 1rem;
    margin: 0;
}

#page-content {
    background-color: var(--background-color);
    padding: 1rem 1rem;
    margin: 0;   
}

.wrapper {
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 2000px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left:  10px;
    padding-bottom: 10px;
    background-color: var(--background-color);
    vertical-align: top;
}

.wrapper-col {
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 2000px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left:  10px;
    padding-bottom: 10px;
    background-color: var(--background-color);
    display: inline-block;
    vertical-align: top;
}

/* Navigation */
#navbar {
    display: flex;
    justify-content: space-between; /* Aligns the left and right divs at opposite ends */
    align-items: center; /* Vertically center the divs within the container */
}

#navrun {
    display: inline-block;
    vertical-align: middle;
}

#navlinks {
    display: inline-block;
    vertical-align: middle;
}

/* Cytoscape */
.__________cytoscape_container {
    background: #FFFFFF;
    border-radius: 15px; 
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.05);
}

#cytoscape-genepool {
    background: radial-gradient(45% 45% at 50% 50%, rgba(97, 115, 233, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.0);
}

/* Images with Text */
.image-text-container{
    position: relative;
    text-align: center;
    color: white;
}