/* Box centered text */
#gene-type  {
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    line-height: 30px; 

    position: absolute; 
    bottom: -40px; 
    width: 100%; 
    height: 30px;
    
    color: white;
    background-color: var(--accent-color);
    border-radius: 10px; 
}

#gene-name {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    position: absolute;
    top: 60px;
    left: 20px; 
    color: #000000;
}
  
#gene-amount {
    font-family: var(--font-family);
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    line-height: 25px; 

    position: absolute; 
    top: 15px; 
    left: 15px; 
    width: 100px; 
    height: 25px;
    
    color: white;
    background-color: var(--accent-color);
    border-radius: 10px; 
}

#gene-overview-img {
    position: absolute; 
    top: -8px; 
    right: 20px; 
    
}

#gene-overview-back {
    width: 100%;
    height: 150px;
    background-color: white; 
    border-radius: 15px; 
    margin: 5px; 
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.03);
    position: relative; 
    margin-bottom: 60px;
}

#genepool-header {
    margin-bottom: 20px; 
    margin-top: 20px
}

#gene-distribution-plot {
    width: 100%;
    height: 150px
}

#number-of-genes-graph{
    width: 100%;
}
