#evolution-cover {
    max-width: 325px;
    max-height: 100%;
    margin-top: 30px;
}

#fitness-function {
    width: 797px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.05);
    border-radius: 20px; 
    margin-left: 5px;
}