#gen-range-slider {
    padding: 0px 0px 0px;
}

.rc-slider-track {
    background-color: var(--accent-color);
    height: 6px;
}

.rc-slider-handle-1 {
    border-color: var(--accent-color);
    background-color: #FFFFFF;
}

.rc-slider-handle-2 {
    border-color: var(--accent-color);
    background-color: #FFFFFF;
}

.rc-slider-handle-3 {
    border-color: var(--accent-color);
    background-color: #FFFFFF;
}

.rc-slider-rail {
    background-color: #FFFFFF;
    height: 6px;
    border-radius: 6px;
}

.rc-slider-handle:focus {
    border-color: var(--accent-color);
}

.rc-slider-handle:hover {
    border-color: var(--accent-color);
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: var(--accent-color);
    box-shadow: 0px 0px 5px 5px rgba(102, 116, 226, 0.7);
}

.rc-slider-dot.rc-slider-dot-active {
    border-color: var(--accent-color);
}

.rc-slider-mark-text {
    color: #000000;
    font-family: var(--font-family);
    font-size: 10px;
}