body {
    font-family: var(--font-family);
    color: #262626;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
}

.input-heading {
    margin: 5px; 
    margin-top: 20px; 
    font-weight: 400; 
    font-size: 15px; 
    white-space: nowrap;
}

.dot-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* This aligns items to the left */
}

/* Box centered text */
.bottom-center {
    font-family: var(--font-family);
    font-weight: 500;
    position: absolute;
    bottom: 54px;
    left: 240px;
}

.center-left {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    position: absolute;
    top: 90px;
    left: 40px;
    color: #000000;
}
  
.top-left {
    font-family: var(--font-family);
    position: absolute;
    font-size: 13px;
    font-weight: 500;
    top: 47px;
    left: 46px;
}
  

  